@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&family=Playfair+Display:ital,wght@0,400;0,700;1,400&family=Dancing+Script:wght@600&display=swap');
@import "tailwindcss";


body {
 font-family: 'Poppins', sans-serif;
}


h1, h2, h3, h4, h5, h6 {
 font-family: 'Playfair Display', serif;
}
h1 {
 font-weight: 300;
 letter-spacing: 0.5px;
}


p {
 line-height: 1.7;
}
